Options +FollowSymLinks

RewriteEngine On
RewriteCond %{HTTP_HOST} ^drupalvm.com
RewriteRule (.*) https://www.drupalvm.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://www.drupalvm.com/$1 [R=301,L]
